.advantages__effect {
  display: none;
  width: 320px;
  margin: $center;

  @include respond-to(tablet) {
    display: block;
    width: 660px;
    margin: $center;
  }

  @include respond-to(desktop) {
    display: block;
    width: 960px;
    margin: $center;
  }
}

.advantages__effect-inner {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;

  @include respond-to(tablet) {
    width: 606px;
    margin-left: 40px;
    margin-top: -6px;
  }

  @include respond-to(desktop) {
    width: 896px;
  }
}

.advantages__timer {
  position: relative;
  margin-left: -40px;
  margin-right: 71px;
  width: 240px;
  height: 278px;
  flex-shrink: 0;

  &::before {
    content: "24";
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: 78px;
    left: 50%;
    font-size: 96px;
    font-weight: 700;
    line-height: 149px;
    transform: translateX(-50%);
    color: $pink;
  }

  @include respond-to(desktop) {
    width: 298px;
    height: 345px;
    margin-right: 60px;
    //margin-left: 20px;

    &::before {
      top: 95px;
      font-size: 120px;
      line-height: 186.84px;
    }
  }
}

.advantages__timer-icon {
  width: 238px;
  height: 276px;

  @include respond-to(desktop) {
    width: 298px;
    height: 345px;
  }
}

.advantages__effect-lead {
  position: relative;
  padding-top: 40px;
  padding-bottom: 23px;
  width: 298px;

  @include respond-to(desktop) {
    padding-top: 91px;
    padding-left: 0;
    padding-right: 40px;
    padding-bottom: 96px;
    font-size: 18px;
    line-height: 30px;
    width: 524px;
  }
}

.advantages__effect-title {
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 30px;
  line-height: 36px;
  color: $black;

  @include respond-to(tablet) {
    max-width: 170px;
  }

  @include respond-to(desktop) {
    margin-bottom: 20px;
    max-width: 400px;
    margin-left: -30px;
    margin-top: -4px;
  }
}

.advantages__effect-text {
  @include font-style(14px, 24px, normal);

  text-align: left;
  margin-top: 0;
  margin-left: -2px;
  margin-bottom: 10px;
  width: 310px;

  @include respond-to(desktop) {
    @include font-style(18px, 30px, normal);

    margin-bottom: 30px;
    text-align: left;
    width: 530px;
    margin-top: 3px;
    margin-left: -28px;
  }
}

.advantages__effect-link-text {
  @include font-style(14px, 24px, normal);

  margin-top: 0;
  text-align: left;

  @include respond-to(desktop) {
    @include font-style(18px, 30px, normal);

    text-align: left;
    margin-top: 3px;
    margin-left: -28px;
  }
}

.advantages__effect-link {
  color: $pink;

  &:hover {
    text-decoration: none;
  }
}

@include respond-to(desktop) {
  .advantages__effect {
    background-color: $gray;
    margin-top: -20px;
  }
}
