.advantages {
  //padding-top: 40px;
  width: 320px;
  margin: $center;
  margin-top: 40px;
}

.advantages__container {
  width: 320px;
  margin: $center;
  background-color: $gray;
  background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='1200px' height='94.074px' viewBox='0 0 1200 94.074'%3E%3Cpolygon fill='%23ffffff' points='1200,0 0,0 0,94.074 '/%3E%3C/svg%3E");
  background-size: 100%;
  background-position: left top;
  background-repeat: no-repeat;
}

.advantages__offer {
  @include font-style(24px, 30px, lighter);

  margin-bottom: 32px;
}

.advantages__title {
  @include font-style(24px, 30px, lighter);
  @include reset;
}

.advantages__inner {
  @include reset-list();

  text-align: center;
  padding-bottom: 287px;
  padding-top: 59px;
  position: relative;
  margin: $center;
  overflow: hidden;
  box-sizing: border-box;

  &::after {
    @include location;

    bottom: -43px;
    left: 50%;
    width: 157px;
    height: 320px;
    transform: translateX(-50%);
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-size: 100%;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }
  }
}

.advantages__name {
  @include reset;
  @include font-style(18px, 30px, bold);

  margin-top: 17px;
  margin-bottom: 9px;
}

.advantages__text {
  @include reset;
  @include font-style(14px, 24px, normal);

  width: 262px;
  margin-left: 16px;
}

.advantages__subtitle {
  @include reset;

  margin-top: 27px;
  margin-bottom: 25px;
}

.advantages__item {
  margin-bottom: 29px;
  padding-left: 12px;
  padding-right: 12px;
}

@include respond-to(tablet) {
  .advantages {
    padding-top: 7px;
    width: 660px;
  }

  .advantages__container {
    width: 660px;
    margin: $center;
    //padding-left: 20px;
    //padding-right: 20px;
    //height: 435px;
  }

  .advantages__inner {
    padding-left: 315px;
    padding-top: 54px;
    padding-bottom: 15px;

    &::after {
      left: 20px;
      width: 268px;
      height: 482px;
      bottom: 2px;
      transform: translateX(0);
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-size: 100%;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
      }
    }
  }

  .advantages__offer {
    @include font-style(40px, 48px, lighter);

    margin-bottom: 47px;
    //margin-top: -20px;
  }

  .advantages__title {
    @include font-style(40px, 50px, lighter);
  }

  .advantages__subtitle {
    width: 58%;
    margin: $center;
  }

  .advantages__name {
    text-align: left;
  }

  .advantages__item {
    margin-bottom: 31px;
    padding-left: 15px;
    width: 324px;
  }

  .advantages__text {
    text-align: left;
    width: 311px;
    margin-left: 1px;
  }
}

@include respond-to(desktop) {
  .advantages {
    padding-top: 64px;
    width: 960px;
  }

  .advantages__inner {
    position: static;
    padding: 0;
    display: flex;
    background-image: none;

    &::after {
      display: none;
    }
  }

  .advantages__offer {
    @include font-style(50px, 60px, lighter);

    margin-bottom: 75px;
    margin-top: -37px;
  }

  .advantages__title {
    @include font-style(50px, 60px, lighter);
  }

  .advantages__container {
    width: 960px;
    margin: $center;
  }

  .advantages__item {
    width: 33%;
    flex-grow: 1;
    padding: 0 4.2%;
    padding-top: 305px;
    background-position: top center;
    background-repeat: no-repeat;

    &:nth-child(1) {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: 91%;
      }
    }

    &:nth-child(2) {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: 91%;
      }
    }

    &:nth-child(3) {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 91%;
      }
    }
  }

  .advantages__name {
    @include font-style(30px, 30px, bold);

    margin-top: 55px;
    margin-bottom: 25px;
  }

  .advantages__text {
    @include font-style(18px, 30px, normal);

    width: 242px;
    margin-top: -3px;
    margin-left: -2px;
  }
}
