.contacts {
  @include font-style(24px, 30px, lighter);

  padding-bottom: 55px;
  padding-top: 68px;
  min-height: 300px;
  position: relative;
}

.contacts__title {
  @include font-style(24px, 30px, lighter);

  padding: 0;
}

.contacts__list {
  @include reset-list();

  text-align: center;
  margin: $center;
}

.contacts__ring {
  @include font-style(18px, 24px, bold);
}

.contacts__text {
  @include reset;

  color: $red;
}

.contacts__item {
  margin-bottom: 18px;
}

@include respond-to(tablet) {
  .contacts__ring {
    display: block;
    margin-bottom: 5px;
  }

  .contacts__title {
    @include font-style(40px, 50px, lighter);
    padding-bottom: 40px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 660px;
  }

  .contacts__item {
    width: 243px;
    margin-bottom: 43px;

    &:nth-child(2) {
      margin-left: 70px;
    }
  }
}

@include respond-to(desktop) {
  .contacts {
    padding-top: 39px;
  }

  .contacts__ring {
    margin-bottom: 22px;
  }

  .contacts__list {
    width: 960px;
    display: flex;
  }

  .contacts__title {
    @include font-style(50px, 60px, lighter);
    padding-top: 30px;
    padding-bottom: 52px;
  }

  .contacts__item {
    display: block;
    width: 250px;
    padding: 0;
    margin: 0;
    margin-left: 40px;
    margin-bottom: 75px;

    &:nth-child(2) {
      order: 3;
      margin-left: 40px;
    }
  }
}
