.contacts {
  @include font-style(24px, 30px, lighter);

  width: 320px;
  margin: $center;
  padding-bottom: 35px;
  padding-top: 25px;
  min-height: 300px;
  position: relative;
}

.contacts__title {
  @include font-style(24px, 30px, lighter);

  padding: 0;
}

.contacts__list {
  @include reset-list();

  text-align: center;
  margin: $center;
  margin-top: 15px;
  padding-top: 5px;
}

.contacts__ring {
  @include font-style(18px, 24px, bold);
}

.contacts__text {
  @include reset;

  color: $red;
}

.contacts__item {
  margin: $center;
  margin-bottom: 18px;
  //margin-top: 15px;
  width: 244px;
}

@include respond-to(tablet) {
  .contacts {
    //padding-top: 8px;
    margin-top: -18px;
    width: 660px;
  }

  .contacts__ring {
    display: block;
    margin-bottom: 5px;
  }

  .contacts__title {
    @include font-style(40px, 50px, lighter);

    padding-bottom: 40px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 660px;
    margin-top: -35px;
  }

  .contacts__item {
    width: 245px;
    margin-bottom: 43px;

    &:nth-child(2) {
      margin-left: 30px;
    }
  }
}

@include respond-to(desktop) {
  .contacts {
    padding-top: 12px;
    width: 960px;
  }

  .contacts__ring {
    margin-bottom: 22px;
  }

  .contacts__list {
    width: 960px;
    display: flex;
    justify-content: flex-start;
    margin: $center;
    margin-top: -43px;
  }

  .contacts__title {
    @include font-style(50px, 60px, lighter);
    padding-top: 30px;
    padding-bottom: 52px;
  }

  .contacts__item {
    display: block;
    width: 250px;
    padding: 0;
    margin: 0;
    margin-left: 40px;
    margin-bottom: 75px;

    &:first-child {
      margin-left: 34px;
    }

    &:nth-child(2) {
      order: 3;
      margin-left: 70px;
    }

    &:nth-child(3) {
      order: 2;
      margin-left: 70px;
    }
  }
}
