.contest-form__container {
  background-color: $gray;
}

.contest-form__note {
  @include font-style(14px, 30px, normal);

  display: block;
  padding: 20px 0;
  text-transform: uppercase;

  & sup {
    color: $red;
  }

  & span {
    display: none;
  }
}

.contest-form__name,
.contest-form__progress,
.contest-form__os,
.contest-form__contact,
.contest-form__text {
  margin: $center;
}

.contest-form__contact {
  margin-top: 35px;
}

.contest-form__text {
  padding-top: 30px;
  padding-bottom: 0;
  margin-bottom: 19px;
}

.contest-form__button {
  width: 280px;
  margin: $center;
  padding-top: 22px;
  padding-bottom: 23px;
  margin-bottom: 15px;
}

.contest-form__os .form-option__title {
  padding-top: 35px;
}

.contest-form__os .form-option__item {
  margin-bottom: 37px;
}

@include respond-to(tablet) {
  .contest-form {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contest-form__container {
    background-color: $white;

    &--os {
      order: 2;
    }

    &--progress {
      order: 4;
    }
  }

  .contest-form__progress,
  .contest-form__os,
  .contest-form__contact,
  .contest-form__text {
    padding: 0;
    margin-bottom: 55px;
    width: 100%;
  }

  .contest-form__text {
    border: $table-border;
    order: 5;
    margin-bottom: 69px;
    padding-left: 60px;
    padding-right: 60px;

    & .form-participant__title {
      margin-bottom: 29px;
    }
  }

  .contest-form__name {
    padding: 0;
    order: 1;
  }

  .contest-form__contact {
    border: $table-border;
    order: 3;
    margin-top: 0;

    & label {
      padding-left: 22px;
    }

    & .form-participant__title {
      margin-bottom: 30px;
    }
  }

  .contest-form__note {
    text-align: right;
    order: 7;
  }

  .contest-form__button {
    @include font-style(18px, 30px, bold);

    padding-top: 11px;
    padding-bottom: 5px;
    width: 300px;
    margin: 0;
    order: 6;
  }

  .contest-form__os {
    min-height: 310px;

    & .form-option__title {
      padding-top: 0;
    }
  }
}

@include respond-to(desktop) {
  .contest-form {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .contest-form__contact-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .contest-form__contact,
  .contest-form__progress {
    padding: 0 60px;
  }

  .contest-form__container--os {
    width: 45%;
    margin: 0;
  }

  .contest-form__name {
    width: 45%;
    margin: 0;
    padding-top: 12px;
  }

  .contest-form__note {
    width: 40%;

    & span {
      display: inline-block;
    }
  }

  .contest-form__text {
    padding: 0 60px;
  }

  .contest-form__os {
    padding-left: 10px;
  }
}
