.edit {
  @include reset-list();

  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  position: relative;
}

.edit__toggle {
  background-color: inherit;
  width: 50px;
  height: 50px;

  border: none;
}

.edit__toggle svg {
  fill: $blue;
  opacity: 0.3;

  &:hover {
    fill: $blue;
    opacity: 0.5;
  }

  &:active {
    fill: $red;
    opacity: 1;
  }
}

.edit label {
  position: absolute;
  width: 239px;
  height: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: $center;
}

.edit__item {
  width: 273px;
  padding-bottom: 40px;
}

.edit .edit__range--hidden {
  display: none;
}

.edit__range + label::before {
  @include location;

  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
  border-bottom: 2px solid $blue;
}

.edit__range + label::after {
  @include location;

  width: 10px;
  height: 10px;
  border: 2px solid $red;
  background-color: $white;
  border-radius: 50%;
  top: 14px;
  left: 50px;
}

.edit__range:active + label::after {
  background-color: $red;
}

@include respond-to(tablet) {
  .edit {
    flex-direction: column;
  }

  .edit__item {
    width: 255px;
    box-sizing: border-box;
    border-bottom: $table-border;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .edit label {
    width: 200px;
    position: relative;
    left: 0;
    transform: translateX(0);
    margin: 0;
  }

  .edit .edit__range--hidden {
    display: inline-block;
  }

  .edit__toggle {
    outline: none;
  }

  .edit__toggle svg {
    fill: $red;
    opacity: 1;

    &:hover {
      fill: $red;
      opacity: 1;
    }

    &:active {
      fill: $red;
      opacity: 1;
    }
  }
}

@include respond-to(desktop) {
  .edit {
    padding-right: 60px;
  }

  .edit__item {
    width: 410px;
  }
  .edit label {
    width: 286px;
  }
}
