.edit {
  @include reset-list();

  display: flex;
  width: 274px;
  box-sizing: border-box;
  justify-content: center;
  position: relative;
  margin-top: 13px;
  margin-left: 6px;
}

.edit__toggle {
  background-color: inherit;
  width: 50px;
  height: 50px;

  border: none;
}

.edit__toggle svg {
  fill: $blue;
  opacity: 0.3;

  &:hover {
    fill: $blue;
    opacity: 0.5;
  }

  &:active {
    fill: $red;
    opacity: 1;
  }

  @include respond-to(tablet) {
    width: 24px;
    height: 24px;
  }

  @include respond-to(desktop) {
    width: 44px;
    height: 44px;
  }
}

.edit label {
  position: absolute;
  width: 239px;
  height: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: $center;
}

.edit__item {
  width: 80px;
  padding-bottom: 40px;
}

.edit__item:first-child svg {
  //padding-left: -10px;
  margin-left: -5px;
  fill: $red;
  opacity: 1;
}

.edit__item:nth-child(2) svg {
  margin-left: -5px;
}

.edit .edit__range--hidden {
  display: none;
}

.edit__range + label::before {
  @include location;

  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
  border-bottom: 2px solid $blue;

  @include respond-to(desktop) {
    margin-left: -12px;
  }
}

.edit__range + label::after {
  @include location;

  width: 10px;
  height: 10px;
  border: 2px solid $red;
  background-color: $white;
  border-radius: 50%;
  top: 14px;
  left: 50px;

  @include respond-to(tablet) {
    left: 150px;
  }

  @include respond-to(desktop) {
    left: 350px;
  }
}

.edit__range-first + label::after {
  left: 192px;

  @include respond-to(tablet) {
    left: 145px;
  }

  @include respond-to(desktop) {
    left: 55px;
  }
}

.edit__range-second + label::after {

  @include respond-to(tablet) {
    left: 25px;
  }

  @include respond-to(desktop) {
    left: 233px;
  }
}

.edit__range-third + label::after {

  @include respond-to(tablet) {
    left: 95px;
  }

  @include respond-to(desktop) {
    left: 145px;
  }
}

.edit__range:active + label::after {
  background-color: $red;
}

@include respond-to(tablet) {
  .edit {
    flex-direction: column;
  }

  .edit__item {
    width: 275px;
    height: 72px;
    box-sizing: border-box;
    border-bottom: $table-border;
    padding-bottom: 7px;
    padding-top: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .edit label {
    width: 200px;
    position: relative;
    left: -20px;
    top: -5px;
    transform: translateX(0);
    margin: 0;
  }

  .edit .edit__range--hidden {
    display: inline-block;
  }

  .edit__toggle {
    outline: none;
    margin-left: -8px;
    margin-top: 4px;
  }

  .edit__toggle svg {
    fill: $red;
    opacity: 1;

    &:hover {
      fill: $red;
      opacity: 1;
    }

    &:active {
      fill: $red;
      opacity: 1;
    }
  }
}

@include respond-to(desktop) {
  .edit {
    padding-right: 60px;
  }

  .edit__item {
    width: 410px;
    margin-left: 14px;
  }

  .edit label {
    width: 286px;
  }

  .edit__toggle {
    outline: none;
    margin-left: -1px;
    margin-top: 4px;
  }
}

.edit__button {
  width: 320px;
  margin: $center;
  padding-top: 30px;
  margin-left: -20px;
  margin-top: 25px;
  border-top: 1px solid #dddfe0;
  padding-bottom: 15px;

  @include respond-to(tablet) {
    border: 0;
    padding-top: 1px;
    margin-top: 15px;
    min-height: 220px;
  }

  @include respond-to(desktop) {
    border: 0;
    width: 460px;
    min-height: 120px;
    margin-top: 94px;
    margin-left: -25px;
  }
}

@include respond-to(tablet) {
  .photo-load__button:nth-child(2) {
    margin-top: 25px;
  }
}
