.form-option {
  @include reset;

  border: none;
  box-sizing: border-box;
}

.form-option__title {
  @include font-style(14px, 18px, normal);
  @include reset;

  color: $red;
  text-transform: uppercase;
  padding: 0 25px;
  padding-top: 40px;
  margin-bottom: 38px;
  background-color: $gray;
  box-sizing: border-box;
}

.form-option__list {
  @include reset-list();
  @include font-style(18px, 30px, normal);

  text-align: left;
}

.form-option__item {
  margin-bottom: 43px;
  color: $blue;
  width: 100%;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 33px;
  }

  & label {
    display: inline-block;
    padding-left: 70px;
    position: relative;
  }
}

.form-option__checkbox + label::before {
  @include location;

  width: 35px;
  height: 35px;
  left: 0;
  top: 0;
  border: $table-border;
  background-color: $white;
}

.form-option__checkbox:checked + label::after {
  @include location;

  left: 10px;
  top: 10px;
  width: 20px;
  height: 10px;
  border-bottom: 2px solid $red;
  border-left: 2px solid $red;

  transform: rotate(-45deg);
}

.form-option__radio + label::before {
  @include location;

  width: 37px;
  height: 37px;
  left: 0;
  top: 0;
  border: $table-border;
  border-radius: 50%;
  background-color: $white;
}

.form-option__radio:checked + label::after {
  @include location;

  left: 13px;
  top: 13px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $red;
}

.form-option__checkbox:hover + label::before,
.form-option__radio:hover + label::before {
  border-color: $blue;
}

.form-option__checkbox:active + label::before,
.form-option__radio:active + label::before {
  border-color: $red;
}

@include respond-to(medium) {
  .form-option {
    background-color: $white;
    border: $table-border;
  }

  .form-option__list {
    padding-left: 60px;
  }

  .form-option__title {
    @include font-style(14px, 30px, normal);

    background-color: inherit;
    padding: 0 15px;
  }

  .form-option__item label {
    padding-right: 60px;
  }
}

@include respond-to(desktop) {
  .form-option__list--col {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    & .form-option__item {
      width: 33%;
      padding-right: 0;
      justify-content: space-between;
      box-sizing: border-box;
    }
  }
}
