.like {
  @include font-style(12px, 24px, lighter);

  text-transform: uppercase;
  text-align: left;
  color: $red;
  padding-left: 35px;
  position: relative;
  box-sizing: border-box;
}

.like__image {
  @include background_image;

  position: absolute;
  height: 20px;
  width: 15px;
}

.like__image svg {
  fill: $red;
}

@include respond-to(tablet) {
  .like {
    padding-left: 0;
    padding-right: 35px;
  }

  .like__image {
    right: 0;
    left: auto;
  }
}
