.main-content {
  width: 100%;
  margin: $center;
  box-sizing: border-box;
  margin-top: -$header-height;
  position: relative;
  z-index: 10;
}

@include respond-to(tablet) {
  .main-content {
    margin-top: -$header-height-m;
  }
}
