.main-container {
  width: 87.5%;
  margin: $center;
}

@include respond-to(tablet) {
  .main-container {
    width: 93.9%;
  }
}

@include respond-to(desktop) {
  .main-container {
    width: 80%;
  }
}
