.map {
  //min-height: 230px;
  //position: relative;
  overflow: hidden;
  //width: 320px;
  min-height: 200px;
  width: auto;
  margin: $center;
  background-image: url("../img/bg-map-mobile@1x.png");
}

@include respond-to(tablet) {
  .map {
    width: 660px;
    min-height: 375px;
    margin: $center;
    background-image: url("../img/bg-map-tablet@1x.jpg");
  }
}

@include respond-to(desktop) {
  .map {
    width: 960px;
    min-height: 506px;
    margin: $center;
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }
}
