.page-header {
  position: relative;
  min-height: 72px;
  background: rgba(40, 54, 69, 0.3);
  z-index: 100;
  margin: $center;
  width: 320px;

  @include respond-to(tablet) {
    width: 660px;
    margin: $center;
    //margin-left: 20px;
  }

  @include respond-to(desktop) {
    width: 960px;
    margin: $center;
    padding-top: -1px;
    padding-left: 1px;
    box-sizing: border-box;
  }
}

.page-header__container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: $center;
  //height: 100px;

  @include respond-to(desktop) {
    //padding: 22px 0px;
    //margin-top: -10px;
    padding-top: -5px;
    align-self: center;
  }
}

.page-header__container-logo {
  //margin: $center;
  text-align: left;
  //display: flex;
  //justify-content: space-between;
  padding: 22px 20px;
  //width: 120px;

  @include respond-to(tablet) {
    padding: 22px 20px;
  }

  @include respond-to(desktop) {
    padding: 22px 0px;
    //margin-top: 10px;
    width: 120px;
  }
}

.page-header--open {
  background-color: $blue;
}

.page-header__logo {
  display: inline-block;
  text-align: left;
  color: $white;
  width: 75px;
  height: 22px;

  @include respond-to(desktop) {
    //padding: 22px 0px;
    margin-top: 5px;
  }
}

.page-header__logo svg {
  object-fit: contain;
  margin-left: -72px;
  margin-top: -20px;
  fill: $white;

  @include respond-to(desktop) {
    margin-top: -6px;
  }
}

.page-header__logo[href] svg {
  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: $white;
    opacity: 0.3;
  }
}

.main-header__logo-stars {
  display: none;
}

.main-header__logo-glass {
  display: none;
}

.main-header__logo-glass-xl {
  display: none;
}

@include respond-to(tablet) {
  .page-header {
    min-height: 110px;
  }

  .main-header__logo-glass {
    display: inline-block;
  }

  .page-header__container-logo {
    //width: 100px;
  }

  .page-header__logo {
    width: 147px;
    height: 40px;
    padding-top: 27px;
    padding-bottom: 35px;
    padding-left: 0;
  }

  .page-header__logo svg {
    margin-left: 0;
  }
}

@include respond-to(desktop) {
  .page-header {
    background: rgba(40, 54, 69, 0.3);
    width: 960px;
    //padding-left: 10px;
    //padding-right: 10px;
  }

  .page-header__container-logo {
    margin: 0;
    margin-right: auto;
    padding-top: 0;
  }

  .main-header__logo-stars,
  .main-header__logo-glass-xl {
    display: inline-block;
  }

  .page-header__container {
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    margin: $center;
    width: 940px;
  }

  .page-header__logo {
    margin-left: 0;
  }

  .main-header__logo-glass {
    display: none;
  }
}
