.page-header {
  position: relative;
  min-height: $header-height;
  background: rgba(40, 54, 69, 0.3);
  z-index: 100;
}

.page-header__container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}

.page-header__container-logo {
  width: 87.5%;
  margin: $center;
  text-align: left;
}

.page-header--open {
  background-color: $blue;
}

.page-header__logo {
  display: inline-block;
  text-align: left;
  color: $white;
  width: 75px;
  height: 22px;
}

.page-header__logo svg {
  object-fit: contain;
  margin-left: -72px;
  fill: $white;
}

.page-header__logo[href] svg {
  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: $white;
    opacity: 0.3;
  }
}

@include respond-to(tablet) {
  .page-header {
    min-height: $header-height-m;
  }

  .page-header__container-logo {
    width: 93.9%;
  }

  .page-header__logo {
    width: 147px;
    height: 40px;
    padding-top: 27px;
    padding-bottom: 35px;
  }

  .page-header__logo svg {
    margin-left: 0;
  }
}

@include respond-to(desktop) {
  .page-header {
    background: rgba(40, 54, 69, 0.3);
  }

  .page-header__container-logo {
    width: 18%;
    margin: 0;
    margin-right: auto;
  }

  .page-header__container {
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    width: 80%;
    margin: $center;
  }

  .page-header__logo {
    margin-left: 0;
  }
}
