.post {
  &--panorama {
    margin-bottom: 20px;

    @include respond-to(tablet) {
      margin-bottom: 30px;
    }

    @include respond-to(desktop) {
      margin-bottom: 50px;
      //margin-top: -5px;
    }
  }

  &--card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 280px;
    min-height: 301px;

    @include respond-to(tablet) {
      width: 300px;
      min-height: 455px;
      margin-right: 20px;
    }

    @include respond-to(tablet) {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @include respond-to(desktop) {
      min-height: 555px;
      margin-bottom: 54px;

      &:nth-child(2n) {
        margin-right: 20px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.post-list {
  display: flex;
  flex-wrap: wrap;

  @include respond-to(tablet) {
    padding-top: 20px;
  }

  @include respond-to(desktop) {
    padding-top: 0;
  }
}

.post__panorama {
  display: block;
  position: relative;
  margin: $center;
  overflow: hidden;
  z-index: 3;
}

.post__panorama img {
  //display: block;
  width: 320px;
  margin: $center;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding-bottom: 0;

  @include respond-to(tablet) {
    width: 660px;
    margin-top: 7px;
    min-height: 510px;
  }

  @include respond-to(desktop) {
    width: 960px;
    margin-top: -1px;
  }
}

.post__panorama-rubric {
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: $white;
  background-color: $pink;
  text-transform: uppercase;
  padding: 6px 20px;

  @include respond-to(tablet) {
    transform: translateX(170px);
    top: 63px;
  }

  @include respond-to(desktop) {
    transform: translateX(330px);
    top: 54px;
  }
}

.post__image {
  display: block;
  //margin-top: 20px;

  @include respond-to(tablet) {
    overflow: hidden;
  }
}

.post__image img {
  display: block;

  @include respond-to(tablet) {
    position: relative;
    height: 300px;
    width: auto;
    max-width: inherit;
    left: 50%;
    transform: translateX(-50%);
  }

  @include respond-to(desktop) {
    height: 400px;
  }
}

.post__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 18px 18px 20px;
  background-color: $grey-light;
  margin-left: 1px;

  @include respond-to(tablet) {
    padding-top: 23px;
    padding-right: 32px;
    padding-bottom: 22px;
    padding-left: 28px;
    min-height: 100px;
    margin-top: -1px;
    position: relative;
  }

  @include respond-to(desktop) {
    //padding-top: 23px;
    //padding-right: 32px;
    //padding-bottom: 22px;
    //padding-left: 28px;
    //min-height: 100px;
    margin-top: 0px;
    position: relative;
    //border: 1px solid black;
    z-index: 1;
  }

  &--panorama {
    @include respond-to(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      padding-right: 29px;
      padding-bottom: 24px;
    }

    @include respond-to(desktop) {
      padding-right: 31px;
    }
  }
}

.post__body-container {
  margin-top: -5px;
  padding-top: 1px;
  min-height: 192px;

  @include respond-to(tablet) {
    min-height: 122px;
  }

  @include respond-to(desktop) {
    min-height: 122px;
    margin-top: -5px;
    height: 20px;

    .post__body {
      margin-top: -11px;
      margin-left: -2px;
      z-index: 1;
    }

    .post__header {
      margin-top: 7px;
    }

    .post__action-panorama {
      margin-top: 20px;
      margin-left: -4px;
    }
  }
}

.post__header {
  &--panorama {
    @include respond-to(tablet) {
      order: -2;
      flex-grow: 1;
      margin-right: 20px; /* небольшой отступ до лайка */
    }
  }
}

.post__author {
  @include font-style(14px, 24px, bold);
}

.post__text {
  @include font-style(14px, 24px, regular);

  flex-grow: 1;
  text-align: left;
  width: 244px;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  @include respond-to(tablet) {
    width: 235px;
  }
}

.post__text--panorama {
  @include respond-to(tablet) {
    width: 530px;
  }

  @include respond-to(desktop) {
    width: 879px;
    margin-top: 5px;
  }
}

.post__time {
  display: inline;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

.post__action {
  display: flex;
  align-items: center;
  height: 35px;

  @include respond-to(tablet) {
    margin-top: 98px;
    padding-left: 0;
    width: 100px;
    position: absolute;
    right: 171px;
    top: 1px;
  }

  &--panorama {
    @include respond-to(tablet) {
      margin-top: 0;
      order: -1;
    }
  }
}

.post__stats {
  @include font-style(12px, 24px, regular);
  margin-left: 32px;
  padding-top: 10px;
  text-transform: uppercase;
  color: $pink;
  text-decoration: none;
  position: relative;

  @include respond-to(tablet) {
    margin-left: 0;
    order: -1;
    //margin-right: 120px;
    //width: 300px;
  }

  &--panorama {
    @include respond-to(tablet) {
      margin-right: 117px;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

.like__image {
  @include background_image;

  position: absolute;
  height: 20px;
  width: 15px;
  left: -33px;
  top: 12px;

  @include respond-to(tablet) {
    margin-left: 246px;
    margin-top: -1px;
  }
}

.like__image svg {
  fill: $red;
}

@include respond-to(tablet) {
  .like__image {
    left: -20px;
  }
}

.post__action-panorama {
  @include respond-to(tablet) {
    position: absolute;
    margin-right: -123px;
    margin-top: 12px;

    .like__image {
      margin-left: 124px;
    }
  }
}
