.post {
  &--panorama {
    margin-bottom: 20px;

    @include respond-to(tablet) {
      margin-bottom: 30px;
    }

    @include respond-to(desktop) {
      margin-bottom: 50px;
    }
  }

  &--card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 280px;
    min-height: 301px;

    @include respond-to(tablet) {
      width: 300px;
      min-height: 455px;
      margin-right: 20px;
    }

    @include respond-to(tablet) {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @include respond-to(desktop) {
      min-height: 555px;
      margin-bottom: 54px;

      &:nth-child(2n) {
        margin-right: 20px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.post__panorama {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.post__panorama img {
  display: block;

  @include respond-to(tablet) {
    position: relative;
    width: auto;
    max-width: inherit;
    left: 50%;
    transform: translateX(-50%);
  }
}

.post__panorama-rubric {
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: $white;
  background-color: $pink;
  text-transform: uppercase;
  padding: 6px 20px;

  @include respond-to(tablet) {
    transform: translateX(170px);
    top: 57px;
  }

  @include respond-to(desktop) {
    transform: translateX(330px);
    top: 54px;
  }
}
