.reviews {
  margin-top: 42px;
  margin-bottom: 23px;
}

.reviews__item--hidden {
  display: none;
}

.reviews__direction {
  display: none;
}

@include respond-to(tablet) {
  .reviews {
    margin-top: 62px;
    margin-bottom: 0;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__toggles {
    margin-top: 33px;
  }
}

@include respond-to(desktop) {
  .reviews {
    margin-top: 0;
    position: relative;
  }

  .reviews__item {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 174px;
    padding-right: 130px;
    padding-left: 130px;
    position: relative;
  }

  .reviews__direction {
    display: block;
    width: 24px;
    height: 24px;
    padding: 10px;
    border: none;
    background-color: $white;
    position: absolute;
    outline: none;

    &--left {
      @include background_image;

      border-top: 2px solid #bec2c7;
      border-left: 2px solid #bec2c7;
      transform: rotate(-45deg);
      top: 215px;
      left: 0;

      &:hover {
        border-color: #7e868f;
      }

      &:active {
        opacity: 0.1;
      }
    }

    &--right {
      @include background_image;

      border-bottom: 2px solid #bec2c7;
      border-right: 2px solid #bec2c7;
      transform: rotate(-45deg);
      width: 24px;
      height: 24px;
      top: 215px;
      right: 0;

      &:hover {
        border-color: #7e868f;
      }

      &:active {
        opacity: 0.1;
      }
    }
  }

  .reviews__text {
    &::before {
      @include location;
      @include background_image;

      width: 100px;
      height: 90px;
      top: 58px;
      left: 50%;
      transform: translate(-50%, 0);
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='78px' height='64px' viewBox='0 0 78.672 63.789' fill='%23efefef'%3E%3Cg%3E%3Cpath d='M34.967,7.063L30.713,0C28.272,1.495,0,12.207,0,39.617c0,7.231,0.336,24.172,18.9,24.172 c11.187,0,13.94-10.279,13.94-13.584c0-21.977-21.382-14.177-21.382-14.177C11.458,17.957,31.263,9.184,34.967,7.063z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M78.672,7.063L74.418,0c-2.44,1.495-30.713,12.207-30.713,39.617c0,7.231,0.337,24.172,18.9,24.172 c11.187,0,13.939-10.279,13.939-13.584c0-21.977-21.381-14.177-21.381-14.177C55.165,17.957,74.969,9.184,78.672,7.063z'/%3E%3C/g%3E%3C/svg%3E");
    }
  }

  .reviews__toggles {
    display: none;
  }
}

.slider {
  @include font-style(14px, 30px, normal);
}

.slider__toggles {
  @include reset;

  border: none;
  width: 25%;
  margin: $center;
  text-align: center;
}

.slider__toggle {
  font-size: 10px;
  border: none;
  width: 20px;
  height: 20px;
  background: transparent;
  color: transparent;
  padding: 0;
  position: relative;

  &::before {
    @include location($position: absolute);
    width: 7px;
    height: 7px;
    background-color: #0a0a0a;
    border-radius: 50%;
    opacity: 0.3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}

.slider__toggle--checked::before {
  @include location;
  opacity: 1;
  width: 7px;
  height: 7px;
  border: 3px solid $blue;
  border-radius: 50%;
  background-color: $white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider__reviews {
  @include reset-list();

  text-align: center;
  margin: $center;
}

.slider__list {
  @include font-style(18px, 30px, bold);

  font-style: normal;
  margin: $center;
  box-sizing: border-box;
}

.slider__text {
  @include reset;

  margin-top: 12px;
  margin-bottom: 27px;
}

.slider__item--hidden {
  display: none;
}

.slider__list span {
  @include font-style(14px, 30px, normal);

  display: none;
}

@include respond-to(tablet) {
  .slider__list {
    font-size: 20px;
  }

  .slider__list span {
    display: block;
  }

  .slider__text {
    @include font-style(18px, 30px, normal);

    margin-bottom: 36px;
  }
}

@include respond-to(desktop) {
  .slider__list {
    @include font-style(24px, 30px, bold);

    & span {
      @include font-style(18px, 30px, normal);
    }
  }
}
