@include font-face("OpenSans", "../fonts/opensans", normal, normal);
@include font-face("OpenSans", "../fonts/opensansbold", bold, normal);
@include font-face("OpenSans", "../fonts/opensanslight", lighter, normal);

body {
  font-family: "OpenSans", "Arial", sans-serif;
  color: $blue;
  background-color: $white;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  max-width: 1400px;
  min-width: 320px;
  margin: $center;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
