@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin font-style($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  text-align: center;
}

@mixin location($display: block, $position: absolute, $content: "") {
  display: $display;
  position: $position;
  content: $content;
}

@mixin link {
  color: $white;
  text-decoration: none;
  display: block;
}

@mixin respond-to($breakpoint) {
  $width-screen: map-get($breakpoints, $breakpoint);

  @media (min-width: $width-screen) {
    @content;
  }
}

@mixin color-btn($color, $bg-color) {
  border: 3px solid $color;
  border-radius: 35px;
  background-color: $bg-color;
  color: $color;
}

@mixin background_image {
  background-position: center;
  background-repeat: no-repeat;
}
