$white: #ffffff;
$black: #000000;
$grey: #e5e5e5;
$pink: #d22856;
$green: #2aab6d;
$dark-blue: #1d2631;
$blue: #283645;
$blue-dark: #1d2632;
$red: #d22856;
$gray: #f2f2f2;
$gray-button: #dddfe0;

$gray-border: #485461;

$bg--body: $white;
$link-color: $pink;
$link-color--hover: $black;

$font: "Open Sans", "Arial", sans-serif;
$font-size: 14px;
$line-height: 24px;

$header-height: 72px;
$header-height-m: 110px;

$center: 0 auto;

$phones: 320px;
$phones-max: 659px;
$tablets: 660px;
$tablets-max: 959px;
$desktops: 960px;

$breakpoints: (
  "phone": 320px,
  "tablet": 660px,
  "desktop": 960px,
);

$table-border: 2px solid $grey;

$header-height-m: 110px;
